/**
 * Badge list
 */
.local-obf ul.badgelist { list-style: none; margin: 0; overflow: hidden; padding: 10px; }
.local-obf .obf-badge a { color: inherit; text-decoration: none; display: block; }
.local-obf .obf-badge img { max-height: 90px; margin: 15px 0; }
#obf-assertion-panel .yui3-widget-hd { background: #FFF none repeat scroll 0% 0%; color: #7F7179; text-transform: uppercase; }
.local-obf .obf-badge { text-align: center; float: left; margin: 0px 15px 15px 0px; width: 120px; background: #FFF none repeat scroll 0% 0%; border: 1px solid #D2D2D2; color: #929292; box-shadow: 0px 4px 0px #DCDCDC; }
.local-obf .obf-badge:hover { border-color: #aaa; }
.local-obf .obf-badge p.badgename { margin: 0; padding: 5px 10px; width: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.local-obf .obf-badge p.badgename:before { content: ""; display: block; height: 5px; width: 100%; border-top: 2px dashed #BFBFBF; }

#page-user-profile .node_category .local-obf ul.badgelist li  { display: inline-block; }
.obf-userconfig-group ul.badgelist li { display: inline-block; }
.local-obf .obf-badge:not(.large) p.description { display: none; }
.local-obf .obf-badge.large { width: 280px; }
.local-obf .obf-badge.large img { float: left; margin-left: 15px; }
.local-obf .obf-badge.large p.badgename { outline: medium none; padding-left: 0px; color: #F59F48; font-size: 15px; font-weight: 500; line-height: 1.1em; width: 140px; text-align: left; overflow: auto; white-space: normal; }
.local-obf .obf-badge.large p.badgename:before { display: none; }
.local-obf .obf-badge.large p.description { text-align: left; position: relative; height: 4.8em; line-height: 1.2em; overflow: hidden; word-wrap: break-word; }
.local-obf .obf-badge.large div.body { float: left; display: inline-block; width: 140px; margin: 15px; height: 8.6em; }
/**
 * Backpack config
 */
span.backpackconnected                      { color: #6a6; }
span.backpackdisconnected                   { color: #a66; }
.obf-userconfig-group ul.badgelist li:hover { cursor: inherit; border-color: #ccc; }

/**
 * Definition lists
 */
dl.obf-definition-list      { overflow: hidden; margin-left: 0; }
dl.obf-definition-list dt   { width: 100px; float: left; clear: left; padding-bottom: 5px;}
dl.obf-definition-list dd   { clear: right; margin-left: 120px; padding-bottom: 5px; }

/**
 * Heading in badge-page
 */
.path-local-obf .badgeheading               { overflow: hidden; padding-bottom: 10px; }
.path-local-obf .badgeheading h2            { float: left; margin-right: 15px; }
.path-local-obf .badgeheading .singlebutton { margin-top: 15px; }

/**
 * Badge details
 */
img.obf-icon        { padding: 0 0 0 5px; }
.obf-badgewrapper   { overflow: hidden; }
.obf-badgeimage     { float: left; margin-left: 20px; width: 120px; }
.obf-badgedetails   { margin-left: 160px; width: 100%; }
.obf-badgeteaser    { overflow: hidden; }
table.obf-table th  { width: 120px; }

.path-local-obf .yui3-tab-panel             { display: none; }
.path-local-obf .yui3-tab-panel-selected    { display: block; }
.path-local-obf .ftext input,
.path-local-obf .felement textarea          { width: 90%; }

/**
 * Assertion details
 */
.obf-assertion { overflow: hidden; padding: 20px; }
.obf-assertion .image-wrapper { float: left; width: 120px; text-align: center; }
.obf-assertion img { max-width: 100%; }
.obf-assertion .assertion-details { margin-left: 160px;}
.obf-assertion .badge-details { width: 45%; float: left; }
.obf-assertion .issuer-details { width: 45%; float: right; }
.obf-assertion h3 { margin-bottom: 1.5em; }
@media (max-width: 767px) {
    .obf-assertion .image-wrapper { float: none; }
    .obf-assertion .assertion-details { margin-left: 0px;}
}


.obf-assertion dl.obf-definition-list { }
.obf-assertion dl.obf-definition-list dt { width: auto; float: none; clear: none; }
.obf-assertion dl.obf-definition-list dd { clear: none; margin-left: 20px; padding-bottom: 20px; }


/**
 * Assertion details (modal)
 */
.obf-assertion-modal .image-wrapper { float: left; width: 25%; text-align: center; }
.obf-assertion-modal h1.badgename { color: #7F7179; text-transform: uppercase; font-weight: 300; }
.obf-assertion-modal img { max-width: 100%; }
.obf-assertion-modal .details-area { margin-left: 25%; padding-left: 15px; min-height: 14em; }
.obf-assertion-modal .details-area a { color: #F59F48; text-decoration: none; }
.obf-assertion-modal label { display: inline-block; font-weight: 700; color: #7F7179; margin-right: 0.5em; }
.obf-assertion-modal label:after { content: ":"; }
#obf-assertion-panel .blacklist-badge { position: absolute; left: 0; }
.yui3-skin-sam .yui3-panel .yui3-widget-ft.assertion-source-unknown,
.yui3-skin-sam .yui3-panel .yui3-widget-ft.assertion-source-obp,
.yui3-skin-sam .yui3-panel .yui3-widget-ft.assertion-source-obf { background-color: white; background-repeat: no-repeat; background-position: center 0; }
/**
 * Assertion popup
 */
#obf-assertion-panel .yui3-panel-content { border-color: #ccc; box-shadow: 0 0 50px #333; }
#obf-assertion-panel .yui3-widget-hd { color: #555; font-weight: bold; border-bottom: solid #ccc 1px; }

/**
 * Assertion revoke form
 */
.obf-definition-list .mform .fitemtitle { display: none; }
.obf-definition-list .mform .fitem .felement { margin-left: 0px; }
.obf-definition-list .mform input.revoked + label { text-decoration: line-through; }
/**
 * Badge categories
 */
.obf-category-wrapper { overflow: hidden; margin: 0 0 1em 0; }
.obf-category-reset-wrapper { float: left; margin: 0 3em 0 0; }
ul.obf-categories { list-style: none; overflow: hidden; margin: 0; }
ul.obf-categories li { float: left; margin: 0 3px 3px 0; }
ul.obf-categories li button { cursor: pointer; outline: none; background: #fff; font-weight: normal; margin: 0; padding: 6px 14px; border-radius: 5px; text-shadow: none !important; border: solid #ababab 1px; color: #333; }
ul.obf-categories li button.active,
ul.obf-categories li button:hover { background: #ebebeb; }
ul.obf-categories li button.active { -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125); box-shadow: inset 0 3px 5px rgba(0,0,0,0.125); }
