/**
 * Badge list
 */
.local-obf ul.badgelist { list-style: none; margin: 0; overflow: hidden; padding: 10px; }
.local-obf .obf-badge a { color: inherit; text-decoration: none; display: block; }
.local-obf .obf-badge img { max-height: 90px; margin: 15px 0; }
#obf-assertion-panel .yui3-widget-hd { background: #FFF none repeat scroll 0% 0%; color: #7F7179; text-transform: uppercase; }
.local-obf .obf-badge { text-align: center; float: left; margin: 0px 15px 15px 0px; width: 120px; background: #FFF none repeat scroll 0% 0%; border: 1px solid #D2D2D2; color: #929292; box-shadow: 0px 4px 0px #DCDCDC; }
.local-obf .obf-badge:hover { border-color: #aaa; }
.local-obf .obf-badge p.badgename { margin: 0; padding: 5px 10px; width: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; word-wrap: normal; }
.local-obf .obf-badge p.badgename:before { content: ""; display: block; height: 5px; width: 100%; border-top: 2px dashed #BFBFBF; }

#page-user-profile .node_category .local-obf ul.badgelist li  { display: inline-block; }
.obf-userconfig-group ul.badgelist li { display: inline-block; }
.local-obf .obf-badge:not(.large) p.description { display: none; }
.local-obf .obf-badge.large { width: 280px; }
.local-obf .obf-badge.large img { float: left; margin-left: 15px; }
.local-obf .obf-badge.large p.badgename { outline: medium none; padding-left: 0px; color: #F59F48; font-size: 15px; font-weight: 500; line-height: 1.1em; width: 140px; text-align: left; overflow: auto; white-space: normal; }
.local-obf .obf-badge.large p.badgename:before { display: none; }
.local-obf .obf-badge.large p.description { text-align: left; position: relative; height: 4.8em; line-height: 1.2em; overflow: hidden; word-wrap: break-word; }
.local-obf .obf-badge.large div.body { float: left; display: inline-block; width: 140px; margin: 15px; height: 8.6em; }
/**
 * Backpack config
 */
span.backpackconnected                      { color: #6a6; }
span.backpackdisconnected                   { color: #a66; }
.obf-userconfig-group ul.badgelist li:hover { cursor: inherit; border-color: #ccc; }

/**
 * Definition lists
 */
dl.obf-definition-list      { overflow: hidden; margin-left: 0; }
dl.obf-definition-list dt   { width: 100px; float: left; clear: left; padding-bottom: 5px;}
dl.obf-definition-list dd   { clear: right; margin-left: 120px; padding-bottom: 5px; }

/**
 * Heading in badge-page
 */
.path-local-obf .badgeheading               { overflow: hidden; padding-bottom: 10px; }
.path-local-obf .badgeheading h2            { float: left; margin-right: 15px; }
.path-local-obf .badgeheading .singlebutton { margin-top: 15px; }

/**
 * Badge details
 */
img.obf-icon        { padding: 0 0 0 5px; }
.obf-badgewrapper   { overflow: hidden; }
.obf-badgeimage     { float: left; margin-left: 20px; width: 120px; }
.obf-badgedetails   { margin-left: 160px; width: 100%; }
.obf-badgeteaser    { overflow: hidden; }
table.obf-table th  { width: 120px; }

.path-local-obf .yui3-tab-panel             { display: none; }
.path-local-obf .yui3-tab-panel-selected    { display: block; }
.path-local-obf .ftext input,
.path-local-obf .felement textarea          { width: 90%; }

/**
 * Assertion details
 */
.obf-assertion { overflow: hidden; padding: 20px; }
.obf-assertion .image-wrapper { float: left; width: 120px; text-align: center; }
.obf-assertion img { max-width: 100%; }
.obf-assertion .assertion-details { margin-left: 160px;}
.obf-assertion .badge-details { width: 45%; float: left; }
.obf-assertion .issuer-details { width: 45%; float: right; }
.obf-assertion h3 { margin-bottom: 1.5em; }
@media (max-width: 767px) {
    .obf-assertion .image-wrapper { float: none; }
    .obf-assertion .assertion-details { margin-left: 0px;}
}


.obf-assertion dl.obf-definition-list dt { width: auto; float: none; clear: none; }
.obf-assertion dl.obf-definition-list dd { clear: none; margin-left: 20px; padding-bottom: 20px; }

.local-obf .obf-badge.expired-assertion .expired-info {
    position: relative;
    height: 0;
}

/**
 * Assertion details (modal)
 */
.obf-assertion-modal .image-wrapper { float: left; width: 25%; text-align: center; }
.obf-assertion-modal h1.badgename { color: #7F7179; text-transform: uppercase; font-weight: 300; }
.obf-assertion-modal img { max-width: 100%; }
.obf-assertion-modal .details-area { margin-left: 25%; padding-left: 15px; min-height: 14em; }
.obf-assertion-modal .details-area a { color: #F59F48; text-decoration: none; }
.obf-assertion-modal label { display: inline-block; font-weight: 700; color: #7F7179; margin-right: 0.5em; }
.obf-assertion-modal label:after { content: ":"; }
#obf-assertion-panel .blacklist-badge { position: absolute; left: 0; }
#page-local-obf-blacklist .fgroup .felement > span { display: block; float: left; }
#page-local-obf-blacklist .fgroup .felement > span > input { display: block; margin-left: 0.5em; margin-bottom: 0.5em }
#page-local-obf-blacklist .fgroup .felement > span > label { display: block; }
.yui3-skin-sam .yui3-panel .yui3-widget-ft.assertion-source-unknown,
.yui3-skin-sam .yui3-panel .yui3-widget-ft.assertion-source-obp,
.yui3-skin-sam .yui3-panel .yui3-widget-ft.assertion-source-obf { background-color: white; background-repeat: no-repeat; background-position: center 0; }
/**
 * Assertion popup
 */
#obf-assertion-panel .yui3-panel-content { border-color: #ccc; box-shadow: 0 0 50px #333; }
#obf-assertion-panel .yui3-widget-hd { color: #555; font-weight: bold; border-bottom: solid #ccc 1px; }

/**
 * Assertion revoke form
 */
.obf-definition-list .mform .fitemtitle { display: none; }
.obf-definition-list .mform .fitem .felement { margin-left: 0px; }
.obf-definition-list .mform input.revoked + label { text-decoration: line-through; }
/**
 * Badge categories
 */
.obf-category-wrapper { overflow: hidden; margin: 0 0 1em 0; }
.obf-category-reset-wrapper { float: left; margin: 0 3em 0 0; }
ul.obf-categories { list-style: none; overflow: hidden; margin: 0; }
ul.obf-categories li { float: left; margin: 0 3px 3px 0; }
ul.obf-categories li button { cursor: pointer; outline: none; background: #fff; font-weight: normal; margin: 0; padding: 6px 14px; border-radius: 5px; text-shadow: none !important; border: solid #ababab 1px; color: #333; }
ul.obf-categories li button.active,
ul.obf-categories li button:hover { background: #ebebeb; }
ul.obf-categories li button.active { -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125); box-shadow: inset 0 3px 5px rgba(0,0,0,0.125); }



/**
 * simplemde v1.9.0
 * Copyright Next Step Webs, Inc.
 * @link https://github.com/NextStepWebs/simplemde-markdown-editor
 * @license MIT
 */
.local-obf .fa {
    display: inline-block;
    height: 16px;
    width: 16px;
    content: "";
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
}
.local-obf .fa:before {
    line-height: 30px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    top: 5px;
    position: relative;
}
.local-obf .fa-bold:before { content: " "; background-image: url([[pix:local_obf|e/core/bold]]); }
.local-obf .fa-italic:before { content: " ";  background-image: url([[pix:local_obf|e/core/italic]]); }
.local-obf .fa-header:before { content: " "; background-image: url([[pix:local_obf|e/header]]); }
.local-obf .fa-link:before { content: " "; background-image: url([[pix:local_obf|e/core/insert_edit_link]]); }
.local-obf .fa-picture-o:before { content: " "; background-image: url([[pix:local_obf|e/core/insert_edit_image]]); }
.local-obf .fa-list-ul:before { content: " "; background-image: url([[pix:local_obf|e/core/bullet_list]]); }
.local-obf .fa-list-ol:before { content: " "; background-image: url([[pix:local_obf|e/core/numbered_list]]); }
.local-obf .fa-quote-left:before { content: " "; background-image: url([[pix:local_obf|e/core/toggle_blockquote]]); }
.local-obf .fa-eye:before { content: " "; background-image: url([[pix:local_obf|e/core/preview]]); }
.local-obf .CodeMirror{color:#000}.local-obf .CodeMirror-lines{padding:4px 0}.local-obf .CodeMirror pre{padding:0 4px}.local-obf .CodeMirror-gutter-filler,.local-obf .CodeMirror-scrollbar-filler{background-color:#fff}.local-obf .CodeMirror-gutters{border-right:1px solid #ddd;background-color:#f7f7f7;white-space:nowrap}.local-obf .CodeMirror-linenumber{padding:0 3px 0 5px;min-width:20px;text-align:right;color:#999;white-space:nowrap}.local-obf .CodeMirror-guttermarker{color:#000}.local-obf .CodeMirror-guttermarker-subtle{color:#999}.local-obf .CodeMirror-cursor{border-left:1px solid #000;border-right:none;width:0}.local-obf .CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}.local-obf .cm-fat-cursor .CodeMirror-cursor{width:auto;border:0;background:#7e7}.local-obf .cm-fat-cursor div.CodeMirror-cursors{z-index:1}.local-obf .cm-animate-fat-cursor{width:auto;border:0;-webkit-animation:blink 1.06s steps(1) infinite;-moz-animation:blink 1.06s steps(1) infinite;animation:blink 1.06s steps(1) infinite;background-color:#7e7}@-moz-keyframes blink{50%{background-color:transparent}}@-webkit-keyframes blink{50%{background-color:transparent}}@keyframes blink{50%{background-color:transparent}}.local-obf .cm-tab{display:inline-block;text-decoration:inherit}.local-obf .CodeMirror-ruler{border-left:1px solid #ccc;position:absolute}.local-obf .cm-s-default .cm-header{color:#00f}.local-obf .cm-s-default .cm-quote{color:#090}.local-obf .cm-negative{color:#d44}.local-obf .cm-positive{color:#292}.local-obf .cm-header,.local-obf .cm-strong{font-weight:700}.local-obf .cm-em{font-style:italic}.local-obf .cm-link{text-decoration:underline}.local-obf .cm-strikethrough{text-decoration:line-through}.local-obf .cm-s-default .cm-keyword{color:#708}.local-obf .cm-s-default .cm-atom{color:#219}.local-obf .cm-s-default .cm-number{color:#164}.local-obf .cm-s-default .cm-def{color:#00f}.local-obf .cm-s-default .cm-variable-2{color:#05a}.local-obf .cm-s-default .cm-variable-3{color:#085}.local-obf .cm-s-default .cm-comment{color:#a50}.local-obf .cm-s-default .cm-string{color:#a11}.local-obf .cm-s-default .cm-string-2{color:#f50}.local-obf .cm-s-default .cm-meta,.local-obf .cm-s-default .cm-qualifier{color:#555}.local-obf .cm-s-default .cm-builtin{color:#30a}.local-obf .cm-s-default .cm-bracket{color:#997}.local-obf .cm-s-default .cm-tag{color:#170}.local-obf .cm-s-default .cm-attribute{color:#00c}.local-obf .cm-s-default .cm-hr{color:#999}.local-obf .cm-s-default .cm-link{color:#00c}.local-obf .cm-invalidchar,.local-obf .cm-s-default .cm-error{color:red}.local-obf .CodeMirror-composing{border-bottom:2px solid}.local-obf div.CodeMirror span.CodeMirror-matchingbracket{color:#0f0}.local-obf div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#f22}.local-obf .CodeMirror-matchingtag{background:rgba(255,150,0,.3)}.local-obf .CodeMirror-activeline-background{background:#e8f2ff}.local-obf .CodeMirror{position:relative;overflow:hidden;background:#fff}.local-obf .CodeMirror-scroll{overflow:scroll!important;margin-bottom:-30px;margin-right:-30px;padding-bottom:30px;height:100%;outline:0;position:relative}.local-obf .CodeMirror-sizer{position:relative;border-right:30px solid transparent}.local-obf .CodeMirror-gutter-filler,.local-obf .CodeMirror-hscrollbar,.local-obf .CodeMirror-scrollbar-filler,.local-obf .CodeMirror-vscrollbar{position:absolute;z-index:6;display:none}.local-obf .CodeMirror-vscrollbar{right:0;top:0;overflow-x:hidden;overflow-y:scroll}.local-obf .CodeMirror-hscrollbar{bottom:0;left:0;overflow-y:hidden;overflow-x:scroll}.local-obf .CodeMirror-scrollbar-filler{right:0;bottom:0}.local-obf .CodeMirror-gutter-filler{left:0;bottom:0}.local-obf .CodeMirror-gutters{position:absolute;left:0;top:0;z-index:3}.local-obf .CodeMirror-gutter{white-space:normal;height:100%;display:inline-block;margin-bottom:-30px}.local-obf .CodeMirror-gutter-wrapper{position:absolute;z-index:4;background:0 0!important;border:none!important;-webkit-user-select:none;-moz-user-select:none;user-select:none}.local-obf .CodeMirror-gutter-background{position:absolute;top:0;bottom:0;z-index:4}.local-obf .CodeMirror-gutter-elt{position:absolute;cursor:default;z-index:4}.local-obf .CodeMirror-lines{cursor:text;min-height:1px}.local-obf .CodeMirror,.local-obf .CodeMirror-scroll{min-height:300px}.local-obf .CodeMirror pre{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;border-width:0;background:0 0;font-family:inherit;font-size:inherit;margin:0;white-space:pre;word-wrap:normal;line-height:inherit;color:inherit;z-index:2;position:relative;overflow:visible;-webkit-tap-highlight-color:transparent}.local-obf .CodeMirror-wrap pre{word-wrap:break-word;white-space:pre-wrap;word-break:normal}.local-obf .CodeMirror-linebackground{position:absolute;left:0;right:0;top:0;bottom:0;z-index:0}.local-obf .CodeMirror-linewidget{position:relative;z-index:2;overflow:auto}.local-obf .CodeMirror-code{outline:0}.local-obf .CodeMirror-gutter,.local-obf .CodeMirror-gutters,.local-obf .CodeMirror-linenumber,.local-obf .CodeMirror-scroll,.local-obf .CodeMirror-sizer{-moz-box-sizing:content-box;box-sizing:content-box}.local-obf .CodeMirror-measure{position:absolute;width:100%;height:0;overflow:hidden;visibility:hidden}.local-obf .CodeMirror-cursor{position:absolute}.local-obf .CodeMirror-measure pre{position:static}.local-obf div.CodeMirror-cursors{visibility:hidden;position:relative;z-index:3}.local-obf .CodeMirror-focused div.CodeMirror-cursors,.local-obf div.CodeMirror-dragcursors{visibility:visible}.local-obf .CodeMirror-selected{background:#d9d9d9}.local-obf .CodeMirror-focused .CodeMirror-selected,.local-obf .CodeMirror-line::selection,.local-obf .CodeMirror-line>span::selection,.local-obf .CodeMirror-line>span>span::selection{background:#d7d4f0}.local-obf .CodeMirror-crosshair{cursor:crosshair}.local-obf .CodeMirror-line::-moz-selection,.local-obf .CodeMirror-line>span::-moz-selection,.local-obf .CodeMirror-line>span>span::-moz-selection{background:#d7d4f0}.local-obf .cm-searching{background:#ffa;background:rgba(255,255,0,.4)}.local-obf .cm-force-border{padding-right:.1px}@media print{.local-obf .CodeMirror div.CodeMirror-cursors{visibility:hidden}}.local-obf .cm-tab-wrap-hack:after{content:''}.local-obf span.CodeMirror-selectedtext{background:0 0}.local-obf .CodeMirror{height:auto;border:1px solid #ddd;border-bottom-left-radius:4px;border-bottom-right-radius:4px;padding:10px;font:inherit;z-index:1}.local-obf .CodeMirror-fullscreen{background:#fff;position:fixed!important;top:50px;left:0;right:0;bottom:0;height:auto;z-index:9}.local-obf .CodeMirror-sided{width:50%!important}.local-obf .editor-toolbar{position:relative;opacity:.6;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;padding:0 10px;border-top:1px solid #bbb;border-left:1px solid #bbb;border-right:1px solid #bbb;border-top-left-radius:4px;border-top-right-radius:4px}.local-obf .editor-toolbar:after,.local-obf .editor-toolbar:before{display:block;content:' ';height:1px}.local-obf .editor-toolbar:before{margin-bottom:8px}.local-obf .editor-toolbar:after{margin-top:8px}.local-obf .editor-toolbar:hover,.local-obf .editor-wrapper input.title:focus,.local-obf .editor-wrapper input.title:hover{opacity:.8}.local-obf .editor-toolbar.fullscreen{width:100%;height:50px;overflow-x:auto;overflow-y:hidden;white-space:nowrap;padding-top:10px;padding-bottom:10px;box-sizing:border-box;background:#fff;border:0;position:fixed;top:0;left:0;opacity:1;z-index:9}.local-obf .editor-toolbar.fullscreen::before{width:20px;height:50px;background:-moz-linear-gradient(left,rgba(255,255,255,1) 0,rgba(255,255,255,0) 100%);background:-webkit-gradient(linear,left top,right top,color-stop(0,rgba(255,255,255,1)),color-stop(100%,rgba(255,255,255,0)));background:-webkit-linear-gradient(left,rgba(255,255,255,1) 0,rgba(255,255,255,0) 100%);background:-o-linear-gradient(left,rgba(255,255,255,1) 0,rgba(255,255,255,0) 100%);background:-ms-linear-gradient(left,rgba(255,255,255,1) 0,rgba(255,255,255,0) 100%);background:linear-gradient(to right,rgba(255,255,255,1) 0,rgba(255,255,255,0) 100%);position:fixed;top:0;left:0;margin:0;padding:0}.local-obf .editor-toolbar.fullscreen::after{width:20px;height:50px;background:-moz-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);background:-webkit-gradient(linear,left top,right top,color-stop(0,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));background:-webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);background:-o-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);background:-ms-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);background:linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);position:fixed;top:0;right:0;margin:0;padding:0}.local-obf .editor-toolbar a{display:inline-block;text-align:center;text-decoration:none!important;color:#2c3e50!important;width:30px;height:30px;margin:0;border:1px solid transparent;border-radius:3px;cursor:pointer}.local-obf .editor-toolbar a.active,.local-obf .editor-toolbar a:hover{background:#fcfcfc;border-color:#95a5a6}.local-obf .editor-toolbar a:before{line-height:30px}.local-obf .editor-toolbar i.separator{display:inline-block;width:0;border-left:1px solid #d9d9d9;border-right:1px solid #fff;color:transparent;text-indent:-10px;margin:0 6px}.local-obf .editor-toolbar a.fa-header-x:after{font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:65%;vertical-align:text-bottom;position:relative;top:2px}.local-obf .editor-toolbar a.fa-header-1:after{content:"1"}.local-obf .editor-toolbar a.fa-header-2:after{content:"2"}.local-obf .editor-toolbar a.fa-header-3:after{content:"3"}.local-obf .editor-toolbar a.fa-header-bigger:after{content:"▲"}.local-obf .editor-toolbar a.fa-header-smaller:after{content:"▼"}.local-obf .editor-toolbar.disabled-for-preview a:not(.no-disable){pointer-events:none;background:#fff;border-color:transparent;text-shadow:inherit}@media only screen and (max-width:700px){.local-obf .editor-toolbar a.no-mobile{display:none}}.local-obf .editor-statusbar{padding:8px 10px;font-size:9pt;color:#959694;text-align:right}.local-obf .editor-statusbar span{display:inline-block;min-width:4em;margin-left:1em}.local-obf .editor-preview,.local-obf .editor-preview-side{padding:10px;background:#fafafa;overflow:auto;display:none;box-sizing:border-box}.local-obf .editor-statusbar .lines:before{content:'lines: '}.local-obf .editor-statusbar .words:before{content:'words: '}.local-obf .editor-preview{position:absolute;width:100%;height:100%;top:0;left:0;z-index:7}.local-obf .editor-preview-side{position:fixed;bottom:0;width:50%;top:50px;right:0;z-index:9;border:1px solid #ddd}.local-obf .editor-preview-active,.local-obf .editor-preview-active-side{display:block}.local-obf .editor-preview-side>p,.local-obf .editor-preview>p{margin-top:0}.local-obf .editor-preview pre,.local-obf .editor-preview-side pre{background:#eee;margin-bottom:10px}.local-obf .editor-preview table td,.local-obf .editor-preview table th,.local-obf .editor-preview-side table td,.local-obf .editor-preview-side table th{border:1px solid #ddd;padding:5px}.local-obf .CodeMirror .CodeMirror-code .cm-tag{color:#63a35c}.local-obf .CodeMirror .CodeMirror-code .cm-attribute{color:#795da3}.local-obf .CodeMirror .CodeMirror-code .cm-string{color:#183691}.local-obf .CodeMirror .CodeMirror-selected{background:#d9d9d9}.local-obf .CodeMirror .CodeMirror-code .cm-header-1{font-size:200%;line-height:200%}.local-obf .CodeMirror .CodeMirror-code .cm-header-2{font-size:160%;line-height:160%}.local-obf .CodeMirror .CodeMirror-code .cm-header-3{font-size:125%;line-height:125%}.local-obf .CodeMirror .CodeMirror-code .cm-header-4{font-size:110%;line-height:110%}.local-obf .CodeMirror .CodeMirror-code .cm-comment{background:rgba(0,0,0,.05);border-radius:2px}.local-obf .CodeMirror .CodeMirror-code .cm-link{color:#7f8c8d}.local-obf .CodeMirror .CodeMirror-code .cm-url{color:#aab2b3}.local-obf .CodeMirror .CodeMirror-code .cm-strikethrough{text-decoration:line-through}.local-obf .CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word){background:rgba(255,0,0,.15)}

/*
    config form
*/
#page-local-obf-config #id_url { width: 90%;}





/* Displayer in Moodle Boost theme */

.block_obf_displayer .badgelist li {
    list-style-type: none;
    display: inline-block;
    margin: 0 1em;
    text-align: center;
    max-width: 25%;
    vertical-align: top;
}

.block_obf_displayer .badgelist li img {
    max-width: 100%;
    height: 125px;
    margin-bottom: 1em;
}

.block_obf_displayer .badgelist li .large img {
    max-width: 100%;
    height: 200px;
}

/* Sidebar view */

#block-region-side-pre .block_obf_displayer .badgelist li {
    margin: 0 6px;
}

#block-region-side-pre .block_obf_displayer .badgelist li .badgename {
    font-size: 10px;
}

#block-region-side-pre .block_obf_displayer .badgelist li img{
    width: auto;
    height: auto;
}

#block-region-side-pre .block_obf_displayer .badgelist li .description {
    display: none;
} 