.path-mod-earnablebadge .resourcecontent {text-align: center;}
.path-mod-earnablebadge .obf-badge.small img { height: 100px; width: 100px; }

.path-mod-earnablebadge #id_pickearnable fieldset .felement > *,.path-mod-earnablebadge fieldset#id_pickearnable .felement > * {
    float: left;
    display: inline-block;
    width: 120px;
}
.path-mod-earnablebadge #id_pickearnable fieldset .felement .box,
.path-mod-earnablebadge fieldset#id_pickearnable .felement .box{
  width: 100px;
  height: 140px;
  overflow: hidden;
}

.path-mod-earnablebadge #id_pickearnable .felement input[type="radio"] {
  visibility: hidden;
}
.path-mod-earnablebadge #id_pickearnable .felement input[type="radio"]:checked + label > .box,
.path-mod-earnablebadge #id_pickearnable .felement input[type="radio"]:checked + .box{
  /*background: #0001;*/
  background: rgba(0,0,0,0.04);
  border-radius: 0.5em;
}
.path-mod-earnablebadge #id_pickearnable .felement > * {
  text-align: center;
  /*border: 1px solid #0003;*/
  border: 1px solid rgba(0,0,0,0.12);
  margin: 0.5em;
  padding: 0.2em;
}
.path-mod-earnablebadge .obfearnablebadgebox {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.path-mod-earnablebadge #earnable-form input,
.path-mod-earnablebadge #earnable-form select {
  max-width: 400px;
}
.path-mod-earnablebadge #earnable-form .radio .felement {
    display: block;
}
