/**
 * Badge list
 */
ul.badgelist    { list-style: none; margin: 0; overflow: hidden; padding: 10px; }
#obf-assertion-panel .yui3-widget-hd,
ul.badgelist li { background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, #cccccc));
                  background-image: -o-linear-gradient(bottom, #eee 0%, #ccc 100%);
                  background-image: -moz-linear-gradient(bottom, #eee 0%, #ccc 100%);
                  background-image: -webkit-linear-gradient(bottom, #eee 0%, #ccc 100%);
                  background-image: -ms-linear-gradient(bottom, #eee 0%, #ccc 100%);
                  background-image: linear-gradient(to bottom, #eee 0%, #ccc 100%);
}
ul.badgelist li { border-radius: 8px; text-align: center; float: left; margin: 0 15px 15px 0; width: 120px; border: solid #ccc 1px; box-shadow: 0 0 10px -2px #888; }
ul.badgelist li:hover   { border-color: #aaa; }
ul.badgelist li p       { background: #fff; margin: 0; padding: 5px 10px; border-radius: 0 0 8px 8px; width: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
ul.badgelist li img     { max-height: 90px; margin: 15px 0; }
ul.badgelist li a       { color: inherit; text-decoration: none; display: block; }

/**
 * Backpack config
 */
span.backpackconnected                      { color: #6a6; }
span.backpackdisconnected                   { color: #a66; }
.obf-userconfig-group ul.badgelist li:hover { cursor: inherit; border-color: #ccc; }

/**
 * Badge list in block, move to block-plugin!
 */
.block ul.badgelist     { text-align: center; padding: 1em 0 0 0; }
.block ul.badgelist li  { }

/**
 * Definition lists
 */
dl.obf-definition-list      { overflow: hidden; margin-left: 0; }
dl.obf-definition-list dt   { width: 100px; float: left; clear: left; padding-bottom: 5px;}
dl.obf-definition-list dd   { clear: right; margin-left: 120px; padding-bottom: 5px; }

/**
 * Heading in badge-page
 */
.badgeheading               { overflow: hidden; padding-bottom: 10px; }
.badgeheading h2            { float: left; margin-right: 15px; }
.badgeheading .singlebutton { margin-top: 15px; }

/**
 * Badge details
 */
img.obf-icon        { padding: 0 0 0 5px; }
.obf-badgewrapper   { overflow: hidden; }
.obf-badgeimage     { float: left; margin-left: 20px; width: 120px; }
.obf-badgedetails   { margin-left: 160px; width: 100%; }
.obf-badgeteaser    { overflow: hidden; }
table.obf-table th  { width: 120px; }

.yui3-tab-panel             { display: none; }
.yui3-tab-panel-selected    { display: block; }
.ftext input,
.felement textarea          { width: 90%; }

/**
 * Assertion details
 */
.obf-assertion { overflow: hidden; padding: 20px; }
.obf-assertion .image-wrapper { float: left; width: 120px; text-align: center; }
.obf-assertion img { max-width: 100%; }
.obf-assertion .assertion-details { margin-left: 160px;}
.obf-assertion .badge-details { width: 45%; float: left; }
.obf-assertion .issuer-details { width: 45%; float: right; }
.obf-assertion h3 { margin-bottom: 1.5em; }

.obf-assertion dl.obf-definition-list { }
.obf-assertion dl.obf-definition-list dt { width: auto; float: none; clear: none; }
.obf-assertion dl.obf-definition-list dd { clear: none; margin-left: 20px; padding-bottom: 20px; }

/**
 * Assertion popup
 */
#obf-assertion-panel .yui3-panel-content { border-color: #ccc; box-shadow: 0 0 50px #333; }
#obf-assertion-panel .yui3-widget-hd { color: #555; font-weight: bold; border-bottom: solid #ccc 1px; }

/**
 * Badge categories
 */
.obf-category-wrapper { overflow: hidden; margin: 0 0 1em 0; }
.obf-category-reset-wrapper { float: left; margin: 0 3em 0 0; }
ul.obf-categories { list-style: none; overflow: hidden; margin: 0; }
ul.obf-categories li { float: left; margin: 0 3px 3px 0; }
ul.obf-categories li button { cursor: pointer; outline: none; background: #fff; font-weight: normal; margin: 0; padding: 6px 14px; border-radius: 5px; text-shadow: none !important; border: solid #ababab 1px; color: #333; }
ul.obf-categories li button.active,
ul.obf-categories li button:hover { background: #ebebeb; }
ul.obf-categories li button.active { -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125); box-shadow: inset 0 3px 5px rgba(0,0,0,0.125); }